<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">	
<style>
.TY {width: 40% ;margin:auto; text-align:center; padding:16px; background-color:#CCC; } 
body { 
    background-image: url("https://www.franklinarts.com/media/artwork-primary/AQUA-Panoramic-Beach-Franklin-Arts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
</style>
    <title>Succefully Send</title>
    <!-- Font Icon 
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">--->

    <!-- Main css 
    <link rel="stylesheet" href="css/style.css"> --->
</head>
<body>
<!---^broken-->
<fieldset class ="TY">
	<legend> Resume Blaster </legend>
    <div class="main">
    <p><b>Thank you for using our service!</b></p> 
	<a href="/login.html">Go back.</a> </p>
	<img src="https://media1.tenor.com/images/90f6c9e9a524b23833622a846ce3ecfc/tenor.gif?itemid=5630386" title="Hey ;)" />
    </div>
</fieldset>
   <!-- JS --->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>