<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<style>
.R2 {width: 40% ;margin:auto; }
.box__dragndrop, .box__uploading, .box__success,
.box__error {display: none; }
.add {margin-right: 50%;}
.button { color: blue} 

</style>
    <title>Resume Blaster-Prototype-</title>
    <!-- Font Icon --->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">

    <!-- Main css --->
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body background="form-img.jpg">
<!---^broken-->
<fieldset class ="R2">
	<legend> Resume Blaster </legend>
	<!--<div class="container">-->
	<div class="form-group">
				<form name="add_company" id="add_company">
					<div class="table-responsive">
						<table class="table table-bordered" id="dynamic_field">
							<tr>
								<td><input type = "text" name = "company[]" placeholder = "Enter Company Name" class = "form-control name_list" /></td>
								<td><input type="text" name="email[]" placeholder="Enter company email" class="form-control name_list" /></td>
							    <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>
							</tr>
						</table>
						<!--<input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />-->
					</div>
				</form>
			</div>
		<!--</div>-->
	</body>
   <!--  <form class="box" method="post" action="" enctype="multipart/form-data">
  <div class="box__input">
    <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
    <button class="box__button" class="upload" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>
</form> -->

<form action="{{ url_for('upload') }}" method="GET" enctype="multipart/form-data" >
    <label class="btn btn-default btn-file">
        Browse <input <input type="file" name="image" style="display: none;">
    </label>
    <input type="submit" value="Upload your image" class="btn btn-primary">
</form>

<div class="text-center">
            <div>
                <strong> {{ filedata }} </strong>
            </div>
</div>

</fieldset>
    <!-- JS --->
<script>
$(document).ready(function(){
	var i=1;
	$('#add').click(function(){
		i++;
		$('#dynamic_field').append('<tr id="row'+i+'"><td> <input type="text" name="company[]" placeholder="Enter company name" class="form-control name_list" /</td><td><input type="text" name="email[]" placeholder="Enter company email" class="form-control name_list" /</td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');
	});
	
	$(document).on('click', '.btn_remove', function(){
		var button_id = $(this).attr("id"); 
		$('#row'+button_id+'').remove();
	});
	
	$('#submit').click(function(){		
		$.ajax({
			url:"name.php",
			method:"GET",
			data:$('#add_company').serialize(),
			success:function(data)
			{
				alert(data);
				$('#add_company')[0].reset();
			}
		});
	});
	
});
</script>

</body>

</fieldset>
</body>
</html>
